.navbar {
    background-color: lightgray;
}

.nav {
    display: flex;
    flex-direction: column;
}

.naved {
    display: flex;
}

ul li {
    cursor: pointer;
}

.logo {
    margin-left: 15px;
}

.one, .two, .three {
    width: 30px;
    background-color: white;
    margin: 2px 0px;
    border-radius: 25px;
}

.search-bar {
    background-color: lightslategray;
    padding-right: 5px;
}

.navbar-right i {
    margin: 10px;
}

.navbar-right img {
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.navbar-right img:hover {
    cursor: pointer;
}

.side-bar-1 ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.side-bar-1 ul li a {
    text-decoration: none;
    color: black;
}

.middle {
    display: flex;
}

.side-bar-1 {
    border-bottom: 0.5px solid black;
    padding-top: 20px;
}

.video-container{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px 5px;
    overflow-x: hidden;
}

.video{
    min-height: 250px;
    height: auto;
    max-width: fit-content;
}

.thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.content{
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.title{
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #979797;
}